@import url(variables.css);

.header {
  display: flex;
  flex-direction: column;
}

.header__logo {
  display: block;
  margin: 4rem auto 1rem auto;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  place-content: center;
  margin: 2rem auto;
}

.menu__item {
  display: block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--secundary-background-color);
  color: inherit;
  font-weight: 700;
  border: 2px solid transparent;
}

.menu__item:hover {
  border-color: var(--primary-color);
  transition: 10ms;
}

.main {
  margin: 0 auto;
  max-width: 1000px;

  display: grid;
  grid-template: "product" "advantages";
}

.main__product {
  grid-area: product;
  position: relative;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 1rem 1.25rem;
  place-items: end;
  background-color: var(--secundary-background-color);
}

.main__product::before {
  content: "";
  width: 3.75rem;
  height: 0.25rem;
  background: var(--primary-color);

  position: absolute;
  top: 1.5rem;
  right: 46%;
  
  
}

.product__title {
  grid-area: 1;
  place-self: end;

  font-size: 2rem;
  font-weight: bold;
}

.product__description {
  grid-area: 2;
  place-self: center end;

  text-align: end;
  font-size: 1.25rem;
  line-height: 2rem;
}

.product__button {
  grid-area: 3;
  place-self: start end;

  display: block;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-background-color);
  border-radius: 7px;
}

.product__button:hover {
  background-color: var(--secundary-color);
  color: var(--secundary-background-color);
  transition: 10ms;
}

.product__img {
  width: 100%;
  grid-area: 1 / 2 / 4 / 2;
}

.main__advantages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 1.25rem;
}

.advantages__title {
  place-self: center;
  font-weight: bold;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: end;
  color: var(--secundary-text-color);
  padding: 2.5rem;
  background: url(../img/onda.svg);
}

.advantages__list {
  display: grid;

  padding: 2.5rem;
  place-self: center;
  background: var(--secundary-background-color);
}

.advantages__list:nth-child(odd){
  background-color: red;
}

.list__item {
  padding: 1.5rem;
  display: grid;
  grid-template: 1fr 2fr / auto 2fr;
  align-items: center;
  gap: 0.5rem 1rem;
}

.list__item:nth-child(odd) {
  background-color: var(--primary-background-color);
}

.list__item:hover {
  border-left: 4px solid var(--primary-color);
}

.item__img {
  grid-area: 1 / 1 / 1 / 1;

  display: block;
  height: 100%;
}

.item__title {
  grid-area: 1 / 2 / 1 / 2;

  font-size: 1.25rem;
  font-weight: bold;
}

.item__description {
  grid-area: 2 / 2 / 3 / 3;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
}

.footer {
  margin-top: 3rem;
}

.footer__text {
  font-size: 1.25rem;
  padding: 2rem;
  text-align: center;
  background-color: var(--secundary-background-color);
}