.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: 20px 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  display: block;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  border-radius: 7px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  transition: 100ms;
}

.container__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1000px) {
  .container {
    padding: 10px 0px;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0;
  }
  .container__main {
    grid-template-columns: 1fr;
  }

  .button {
    padding: 1rem 1.5rem;
  }
}
