.font-1-s, .font-1-s-b {
  font: 400 1rem/1 Arial, Helvetica, sans-serif;
}

.font-1-s-b, .font-1-xs-b {
  font-weight: 700;
}

.font-1-m,
.font-1-m-b {
  font: 400 1.25rem/2 Arial, Helvetica, sans-serif;
}

.font-1-m-b {
  font-weight: 700;
}

.font-1-l-b {
  font: 700 2rem Arial, Helvetica, sans-serif;
}

.font-1-xl-b {
  font: 700 4rem Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}